@use "sass:color";

$bgc: #f0f0f0;

$button-size: 7em;
$bdrad: 1em;

body {
    font-family: sans-serif;
    p {
        font-size: 1.75em;
    }
    a {
        text-decoration: none;
    }
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin the-base {
    background-color: $bgc;
    border-radius: $bdrad;
    background-color: #f0f0f0;
}

.station, .add {
    @include the-base;
    display: flex;
    height: 12em;
    p {
        margin: auto;
    }
    transition: color 0.3s;
}

.file-upload {
    @include the-base;
}

.popup {
    @include the-base;
    position: fixed;
    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,.1);
    top: 40%;
    left: 40%;
    #close-btn {
        position: absolute;
        top: 1em;
        right: 1em;
    }
}

#bg-shadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9001;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .4);
}
