@use "sass:color";

$bgc: #ccc;

.station, .bar {
    display: flex;
    background-color: $bgc;
    border-radius: 0.5em;
    p,a {
        display: block;
    }
    a {
        text-decoration: none;
    }
    p {
        font-size: 1.5em;
        margin: auto;
    }
}

.station {
    & {
        height: 12em;
        box-shadow: 0.25em 0.25em 1em rgba(0,0,0,.1);
    }
}

.bar {
    & {
        transition: transform 0.4s;
        &:hover {
            transform: translateY(-0.5em);
        }
    }
    bottom: 5px;
    height: 6em;
    .button {
        border-radius: 0.5em;
        background-color: color.adjust($bgc, $lightness: 12%);
        width: 5em;
        display: flex;
    }
}

