@use "sass:color";

$bgc: #e0e0e0;

$button-size: 7em;
$bdrad: 1em;

body {
    p {
        font-size: 1.75em;
        margin: auto;
    }
}

.station {
    display: flex;
    background-color: $bgc;
    border-radius: 0.5em;
    text-decoration: none;
}

.station {
    height: 12em;
    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,.1);
}

.bar {
    @extend .station;
    & {
        transition: transform 0.5s;
        &:hover {
            transform: translateY(-0.5em);
        }
    }
    border-radius: 0.5em;
    bottom: 0;
    height: auto;
    box-shadow: 0em -1em 2em rgba(255,255,255,1);
    left: (40%);
    .button {
        border-radius: 0.5em;
        background-color: color.adjust($bgc, $lightness: 12%);
        width: $button-size;
        height: $button-size;
        display: flex;
    }
}

.add {
    @extend .station;
    // for now...
}
